Application/server/node_modules/
Application/server/.idea/workspace.xml
Application/server/.idea/server.iml
Application/server/.idea/modules.xml
*.gitignore
Application/android/.idea/workspace.xml
Application/server/.idea/misc.xml
Application/server/.idea/dbnavigator.xml
Application/server/.idea/copyright/profiles_settings.xml
Application/server/.idea/compiler.xml
Application/android/app/app.iml
Application/storeup/.idea/runConfigurations.xml
Application/storeup/.idea/modules.xml
Application/storeup/.idea/gradle.xml
Application/storeup/.idea/compiler.xml
Application/storeup/.idea/copyright/profiles_settings.xml
Application/storeup/.idea/misc.xml
